body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.delete{
  background-color: rgba(246, 8, 8, 0.883);
  border: 1px solid rgb(151, 149, 149);
  border-radius: 20%;
  cursor: pointer;
}

input{
  padding: 0;
  border: none;
  background-color:rgb(241, 255, 233) ;
  outline: none;
  width: 98%;
}

.result{
  float: right;
  width: 15%;
  border-radius: 3%;
}
#output{
  border: 1px solid #000000;
  margin-right: 4%;
  border-radius: 3%;
}
.pushrow{
  margin-top: 15px;
  margin-left: 2%;
}
.greenbtn{
  width: 20%;
  height: 26px;
  border: 2px solid #012406;
  border-radius: 8%;
  background: linear-gradient( rgb(1, 61, 1), rgb(53, 114, 25), rgb(1, 61, 1));
  color:azure
}

.table-row-main{
  display: table-header-group;
  margin: auto;
}
.table-row{
  display: table-header-group;
  margin: auto;
}
.div-th{
  display: table-cell;
  width: 16%;
  border: 2px solid #ccc;
}
.non{
  display: table-cell;
  width: 2%;
}